VECTOR_STORE_PATH=./data/vector_store
COLLECTION_NAME=basic_electronics
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
OLLAMA_MODEL=llama3.1
TOP_K=3
YOLO_MODEL_PATH=./data/yolo_model/best.pt
YOLO_CONFIDENCE=0.25
CORS_ORIGINS=http://localhost:8501
